<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OnePayFullSuite" parallel="false">
    <listeners>
        <listener class-name="com.cts.onepay.utils.ExtentReportManager"/>
    </listeners>
    <test name="Auth">
        <classes>
            <class name="com.cts.onepay.tests.LoginTest"/>
        </classes>
    </test>
    <test name="transaction">
        <classes>
            <class name="com.cts.onepay.tests.TransactionTest"/>
        </classes>
    </test>
    <test name="loanApply">
        <classes>
            <class name="com.cts.onepay.tests.LoanApplyTest"/>
        </classes>
    </test>
    <test name="loanDecide">
        <classes>
            <class name="com.cts.onepay.tests.LoanOfficerTest"/>
        </classes>
    </test>

</suite>